<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css" /> 
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
    <title>EpicCodersGaza</title>
</head>
<body>
        <header class="showcase">
                <div class="content">
                  <div class="title">
                    Welcome To Epic Coders Gaza 
                  </div>
                  <div class="text">
                   Epic Coders Gaza Technical engineering expertise you can rely on
                  </div>
                </div>
              </header>
            
              <!-- Services -->
              <section class="services">
                <div class="container grid-3 center">
                  <div>
                    <i class="fab fa-youtube fa-3x"></i>
                    <h3>YouTube</h3>
                    <p>visit our YouTube chanel to see blogs and the real life at our company don't forget to subscribe and leave a comment we love to hear from you . enjoy </p>
                  </div>
                  <div>
                    <i class="fas fa-chalkboard-teacher fa-3x"></i>
                    <h3>Courses</h3>
                    <p>We try hard to help the beginner developers to start them life on the right path sooner we will provide you by ouer Courses !   </p>
                  </div>
                  <div>
                    <i class="fas fa-briefcase fa-3x"></i>
                    <h3>Freelancing Projects</h3>
                    <p> we have a great skilled engineers that the work in many field we work remotely for some company </p>
                  </div>
                </div>
              </section>
            
              <!-- About -->
              <section class="about bg-light">
                <div class="container">
                  <div class="grid-2">
                    <div class="center">
                      <i class="fas fa-laptop-code fa-10x"></i>
                    </div>
                    <div>
                      <h3>About Us</h3>
                      <p>We are a technical agency, first and foremost. Specialising in engineering-grade expertise means we aren’t a 
                          full-service agency that codes on the side. we have the grates engineer ever we create android apps  , desktop ,websites , solving problems  </p>
                    </div>
                  </div>
                </div>
              </section>
               <!-- Contact -->
               <section class="about bg-light">
                <div class="container">  
                  <form id="contact" action="" method="post">
                    <h2>Contact us Now </h2>
                    <fieldset>
                      <input placeholder="Your name" type="text" tabindex="1" required >
                    </fieldset>
                    <fieldset>
                      <input placeholder="Your Email Address" type="email" tabindex="2" required>
                    </fieldset>
                    <fieldset>
                      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
                    </fieldset>
                    <fieldset>
                      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
                    </fieldset>
                  </form>
                </div>
              </section>
            
              <footer class="center bg-dark">
                <p> Epic Code Gaza &copy; 2018</p>
              </footer>
    
</body>
</html>